%h2 People Looking For Pairs
%ul.bids-listing
  - @bids.each do |bid|
    %li{:'data-name' => "pair-with-#{bid.person.email}"}
      .image-block
        = image_tag bid.person.gravatar_url(:default => 'identicon', :size => 40)
        .description
          .email
            = bid.person.email
          = link_to "Request Pair", new_bid_offer_path(bid)

%h2 Don't see what you want?
%p
  I'm still interested, 
  = link_to "add me to this list", new_bid_path(:postal_code=> params[:postal_code])
