= form_for @bid, :html => { :class => 'madlibs' } do |bid_form|
  .fields-block
    = bid_form.fields_for :bidder do |bidder_fields|
      .form-field
        Email me at
        = bidder_fields.label :email
        = bidder_fields.text_field :email, :placeholder => "enter_your_email@example.com", :size => 40, :autofocus => true

    .form-field
      when anyone in
      - if bid_form.object.zip? || bid_form.object.latitude.nil?
        = bid_form.label :zip
        = bid_form.text_field :zip, :size => 6
      - else
        my area
        = bid_form.hidden_field :latitude
        = bid_form.hidden_field :longitude
      is interested in pairing

  = bid_form.submit "Do it"
