%ul.resources
  %li
    %h2#whatsup What is this project?
    %p.summary
      Pairprogram.com provides an easy way for programmers to meet up and program together.
      Once you provide your location you will see a list of programmers available to pair in your area.
      If you'd like to pair with one of them, you can send a message.  If they are amenable, they will 
      respond and you can arrange a time and a place.
      = link_to "Okay, sounds good!", root_path

  %li
    %h2#why  Why Pair?
    %p.summary
      Pairing helps programmers learn new techniques, maintain focus, and produce code with fewer defects.  
      For project teams, pairing improves communication and spreads knowledge of all areas of the codebase, 
      raising your
      = link_to "bus number.", "http://en.wikipedia.org/wiki/High_bus_number"
    %ul.resource-section
      %li
        = link_to "Taking Agile from Tactics to Strategy", "http://thinkrelevance.com/blog/2009/02/04/taking-agile-from-tactics-to-strategy.html#pair_everything"
        Glenn Vanderburg
      %li
        = link_to "Soylent Green is People. So is Software.", "http://www.shaneharvie.com/2008/09/soylent-green-is-people-so-is-software.html"
        Shane Harvie
      %li
        = link_to "The Hashrocket Way: Pair Programming", "http://blog.obiefernandez.com/content/2008/08/the-hashrocket-way-pair-programming.html"
        Obie Fernandez
      %li
        = link_to "How Pair Programming Really Works", "http://www.computer.org/cms/Computer.org/ComputingNow/homepage/2010/0110/W_SW_PairProgramming.pdf"
        Stuart Wray


  %li
    %h2#howto How To Pair
    %p.summary
      If you've never paired before, definitely check out 
      = link_to "ping pong pairing", "#pingpong"
      as a way to ease into pair programming.  Using 
      = link_to "TDD", "http://en.wikipedia.org/wiki/Test-driven_development"
      or 
      = link_to "BDD", "http://en.wikipedia.org/wiki/Behavior_driven_development"
      is especially helpful for pair programmers because it provides an agreed, shared goal for making progress.  
      If you don't have a specific test you're trying to pass,
      it's difficult for your pair to provide constructive advice.
    %ul.resource-section
      %li
        = link_to "Getting Started With Pair Programming", "http://stackoverflow.com/questions/138227/getting-started-with-pair-programming"
        Stack Overflow

      %li
        = link_to "Pair Programming Games", "http://www.thehackerchickblog.com/2010/08/pair-programming-games.html"
        Abby Fichtner 

      %li
        = link_to "Successfully Adopting Pair Programming", "http://www.infoq.com/articles/adopting-pair-programming"
        Jay Fields

      %li
        = link_to "Pair Programming Do's and Don'ts", "http://www.developer.com/lang/article.php/3652636"
        Jeff Langr

      %li
        = link_to "Pair Programming Thoughts", "http://blog.jayfields.com/2008/02/pair-programming-thoughts.html"
        Jay Fields

      %li
        = link_to "Best Remote Pairing Settings 2008", "http://pivotallabs.com/users/chad/blog/articles/535-best-remote-pairing-settings-2008"
        Chad Wooley


  %li
    %h2#pingpong Ping Pong Pairing
    %ul.resource-section
      %li
        = link_to "Can Somebody Name this Practice?", "http://redsquirrel.com/blog/archives/00000170.html"
        Dave Hoover

      %li
        = link_to "The Pair Programming TDD Game", "http://www.peterprovost.org/blog/post/The-Pair-Programming-TDD-Game.aspx"
        Peter Provost
