= form_for :offer, :url => bid_offers_path(@bid), :html => { :class => 'madlibs' } do |offer_form|
  = render 'shared/errors', :item => @offer
  = offer_form.fields_for :sender_attributes do |sender_fields|
    .form-field
      Please email me at
      = sender_fields.label :email
      = sender_fields.text_field :email
      to discuss a pairing opportunity

  = offer_form.submit "Request Pair"
